<% layout('./layouts/boilerplate') -%>
<div class="row">
   <h1 class="col-6 offset-3 mt-3"> Signup on WanderWise</h1>
  <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">username</label>
                <input type="text"
                 name="username"
                  placeholder="enter username"  
                  class="form-control"
                   id="name"
                 required>
                 <div class="valid-feedback">
                    Looks good title!
                  </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text"
                 name="email"
                  placeholder="enter user email"  
                  class="form-control" id="email"
                 required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password"
                 name="password"
                  placeholder="enter user password"  
                  class="form-control" id="password"
                 required>
            </div>
            <BUtton class="btn btn-success mb-3">signup </BUtton>
        </form>  
  </div>
</div>
